PORT=5000
SALT=salt
DB_HOST=127.0.0.1
DB_USER=userName
DB_PASSWORD=userPassword
UPLOAD_DIRECTORY=C:\Users\usov\2361279-six-cities-4\upload
DB_PORT=27017
DB_NAME=six-cities
JWT_SECRET=secret
HOST='localhost'
STATIC_DIRECTORY=static
